.jumbotron {
    background-color: cadetblue;
    color: white;
    margin-top: 50px;
    
}

.btn{
    color: green;      
}

.footer {
    padding: 10px 10px 0 10px;
    background-color: lightsteelblue;
    margin-bottom: 0px;
    margin-top: 10px;  
}

.card-services{
    flex: 1 200x;
    margin-top: 10px;
}

.btn-services{
    width: 100%;
    border-radius: 0px;
}